h1 {
    text-align: center;
    margin-bottom: 24px;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    margin: 0 auto;
}

/* Zebra striping */
tr:nth-of-type(odd) {
    background: #f2f2f2;
}

tbody tr:hover {
    cursor: pointer;
    background: var(--primary-color);
    color: #ffffff;
}

tbody tr:active {
    background: var(--secondary-color);
}

th {
    background: #008000;
    color: #ffffff;
    font-weight: 600;
}

thead th {
    text-align: center;
}

td,
th {
    padding: 12px;
    border: 1px solid #ccc;
    text-align: left;
}

td[data-label='Nama MK'] {
    font-weight: bold;
}

td.text-center {
    text-align: center;
}

/*Mobile View*/
@media only screen and (max-width: 760px) {
    td,
    tr {
        display: block;
    }

    td.text-center {
        text-align: left;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        display: none;
    }

    tr {
        border: 1px solid #e74c3c;
    }

    tr + tr {
        margin-top: 3.2rem;
    }

    td {
        /* make like a "row" */
        border: none;
        padding-left: 50%;
        background-color: #bdfabd;
        text-align: left;
    }

    td:before {
        content: attr(data-label);
        display: inline-block;
        margin-left: -100%;
        width: 100%;
    }

    tbody tr:hover {
        cursor: pointer;
    }

    tbody tr:hover td {
        color: #000000;
    }

    tbody tr:active {
        border: 2px solid #008000;
    }
}
